body {
    font-family: 'Lato-Regular';
    letter-spacing: 1.5px;
    background-color: #fff;
    overflow-x: hidden;
    margin-bottom: 360px;
}
body div.section-parent {
    overflow-x: hidden;
}

.navbar-brand .brand-img{
	width: 40px;
    height: auto;
    margin: -10px 0;
}
.text-danger {
    color: red;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    font-size: 17px;
}

.navbar-nav>li {
    margin: 10px;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    color: #F3801E !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #f87616;
    background-color: #eee;
}

.text-primary {
    color: #F3801E !important;
}
.btn {
    letter-spacing: 3px;
    font-size: 18px;
}
.btn-flat {
    border-radius: 2px !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-default {
    background-color: #fff;
    border: #fff;
}

.btn-blue {
    font-family: 'MerriweatherSans-Bold';
    background-color: #63D6F0;
    border-color: #63D6F0;
    color: #fff;
    padding: 10px 25px;
}
.btn-blue:hover, .btn-blue:active {
    background-color: #54ABE0;
    border-color: #2CA3DD;
    color: #fff;
}

.btn-home {
    font-family: 'MerriweatherSans-Bold';
    background-color: #54AAE0;
    border-color: #54AAE0;
    color: #fff;
    padding: 15px 30px;
}
.btn-home:hover, .btn-home:active {
    background-color: #4686CA;
    border-color: #4686CA;
    color: #fff;
}

.btn-primary {
    background-color: transparent !important;
    border-color: #F3801E !important;
    color: #F3801E !important;
}

.navbar .btn {
    padding: 10px 14px !important;
    margin: 3px !important;
}

hr.orange-line {
    border: #F37C00 solid 2px;
    margin: 0;
    width: 13%;
    float: left;
}

.shape1 {
    position: fixed;
    left: 5%;
    z-index: 0;
    -webkit-animation:spin 8s linear infinite, floatBubble1 4s infinite  normal ease-out;
    -moz-animation:spin 8s linear infinite, floatBubble1 4s infinite  normal ease-out;
    animation:spin 8s linear infinite, floatBubble1 4s infinite  normal ease-out;
    -webkit-animation-direction:alternate;
}
.shape2 {
    position: fixed;
    left: 20%;
    z-index: 0;
    -webkit-animation:reverseSpin 12s linear infinite, floatBubble3 7s infinite  normal ease-out;
    -moz-animation:reverseSpin 12s linear infinite, floatBubble3 7s infinite  normal ease-out;
    animation:reverseSpin 12s linear infinite, floatBubble3 7s infinite  normal ease-out;
    -webkit-animation-direction:alternate;
}
.shape3 {
    position: fixed;
    left: 45%;
    z-index: 0;
    -webkit-animation:reverseSpin 10s linear infinite, floatBubble2 7s infinite  normal ease-out;
    -moz-animation:reverseSpin 10s linear infinite, floatBubble2 7s infinite  normal ease-out;
    animation:reverseSpin 10s linear infinite, floatBubble2 7s infinite  normal ease-out;
    -webkit-animation-direction:alternate;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes reverseSpin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes reverseSpin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes reverseSpin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@-webkit-keyframes floatBubble1{
    from{
        top:150px;
        -webkit-animation-timing-function: ease-in;
    }
    to {
        top: 250px;
        -webkit-animation-timing-function: ease-out;
    }
}

@-webkit-keyframes floatBubble2{
    from{
        top:250px;
        -webkit-animation-timing-function: ease-in;
    }
    to {
        top: 350px;
        -webkit-animation-timing-function: ease-out;
    }
}
@-webkit-keyframes floatBubble3{
    from{
        top:550px;
        -webkit-animation-timing-function: ease-in;
    }
    to {
        top: 650px;
        -webkit-animation-timing-function: ease-out;
    }
}

.gm-style-mtc {
  display: none !important;
}

/* section home styles
-------------------------------------------------- */
#home {
    padding-top: 150px;
    position: relative;
    height: 100vh;
    min-height: 700px;
    z-index: 1;
}

#home .header-content {
    padding: 50px 50px 50px 150px;
}

#home .header-content h1 {
    color: #F4822B;
    font-family: 'MerriweatherSans-ExtraBold';
    font-size: 4em;
}

#home .header-content h4 {
    font-family: 'Lato-Bold';
}

#home .header-content p {
    font-size: 20px;
    color: #7C7D7E;
    line-height: 35px;
    margin: 10px 0 30px;
}

#home .line {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -20%;
    height: 340px;
    width: 160%;
    transform: rotate(150deg);
    background: -webkit-linear-gradient(-90deg, #F7A21B, #FA6509); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #F7A21B, #FA6509); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #F7A21B, #FA6509); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #F7A21B, #FA6509); /* Standard syntax */
}
#home img {
    padding-top: 50px;
}

/* section about styles
-------------------------------------------------- */
#aboutUs {
    padding-top: 100px;
    position: relative;
    height: auto;
    min-height: 920px;
    z-index: 1;
}
#aboutUs .text-content {
    position: relative;
    height: 335px;
}
#aboutUs .text-content hr {
    border: #F37C00 solid 2px;
    margin: 0;
    bottom:0;
    width: 100%;
    position: absolute;
}
#aboutUs .text-content p {
    font-size: 18px;
    max-width: 45vh;
    padding: 10px;
    position: absolute;
    color: #fff;
    border-left: #fff solid 3px;
    left: 0;
    top: 25%;
}

#aboutUs .logo p {
    color: #777;
    font-size: 18px;
    padding: 20px 50px 20px;
    line-height: 35px;
}


#aboutUs .logo hr.orange-vertical-line {
    background: #F37C02;
    border: #F37C02 solid 8px;
    margin: 0;
    height: 450px;
    top: -55%;
    right: 10%;
    position: absolute;
}

#aboutUs .logo img {
    display: block;
    margin: auto;
    width: 50%;
}

#aboutUs .feature {
    padding-top: 50px;
}

#aboutUs .feature .container>div {
    margin-top: 100px;
}

#aboutUs .feature h1 {
    color: #4EA9E0;
    font-family: 'MerriweatherSans-ExtraBold';
    font-size: 4em;
    text-align: center;
}

#aboutUs .feature img {
    margin: auto;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 350px;
}

#aboutUs .feature .feature-description {
    min-height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#aboutUs .feature p {
    color: #777;
    font-size: 16px;
    line-height: 35px;
    letter-spacing: 1.5px;
}

#aboutUs .feature h2 {
    font-family: 'MerriweatherSans-ExtraBold';
}

/* section products styles
-------------------------------------------------- */
#products {
    height: auto;
    z-index: 1;
    min-height: 500px;
    margin: 0 100px 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#products h1 {
    font-family: 'MerriweatherSans-ExtraBold';
    font-size: 4em;
    text-align: center;
    padding: 100px;
}

#products .single-item {
    height: 90%;
    position: relative;
}
#products .text-header {
    color: #F5822A;
    font-family: 'Lato-Heavy';
    font-size: 3em;
}
#products .single-item .slick-caption {
    font-size: 18px;
    width: 40%;
    margin-left: 65px;
    color: #6C6D6F;
    text-shadow: none;
    text-align: left ;
}
#products .slick-caption p {
    color: #F3801E;
    font-size: 18px;
    font-family: 'MerriweatherSans-Bold';
    width: 80px;
    border-bottom: #F3801E solid 3px;
}
#products .slick-caption span {
    color: #49D2EC;
    font-family: 'MerriweatherSans-ExtraBold';
}

#products .single-item .item {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#products .single-item .slick-caption a {
    margin-top: 30px;
}

#products .carousel-indicators .active {
    background-color: #F3822B;
}
#products .carousel-indicators li {
    background-color: #777;
}

/* section partners styles
-------------------------------------------------- */
#partners {
    background-color: #F7F8F9;
    height: 80vh;
    min-height: 600px;
    margin: -15px;
    z-index: 0;
}

#partners .text-content {
    margin: 10% -10% 0 10%;
}

#partners .text-content h2 {
    font-family: 'MerriweatherSans-ExtraBold';
}

#partners .text-content .text-description {
    max-width: 85%;
    font-size: 18px;
    line-height: 35px;
    color: #777;
}

#partners .comments {
    margin-top: 10%;
    padding: 0 5% 0 10%;
}
#partners .comments .quote {
    font-size: 4em;
    color: #F6C4A9;
    font-family: 'MerriweatherSans-ExtraBold';
    position: absolute;
    top: -155%;
    left: -10%;
}
#partners .comments .text-header {
    color: #717273;
    font-size: 2.5em;
    position: relative;
    font-family: 'Lato-Bold';
}

#partners .comments .text-description {
    font-size: 15px;
    color: #777;
    line-height: 30px;
    max-width: 85%;
}

#partners .personal-information .name {
    color: #7A7B7C;
    font-size: 17px;
}
#partners img {
    display: block;
    margin: auto;
}

#partners .personal-information .company {
    color: #F3832E;
    font-size: 17px;
}

#partners .personal-information .pic,
#partners .personal-information .info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 250px;
}

/* section contact-us styles
-------------------------------------------------- */
#contact-us {
    position: relative;
    height: 100vh;
    min-height: 800px;
    z-index: 0;
}

#contact-us .text-content {
    margin: 10% -10% 0 10%;
}

#contact-us .text-content h2 {
    font-family: 'MerriweatherSans-ExtraBold';
}
#contact-us .text-content hr {
    border: #F37C00 solid 2px;
    margin: 0;
    width: 13%;
    float: left;
}

#contact-us .text-content .text-description {
    max-width: 75%;
    font-size: 18px;
    color: #777;
    line-height: 35px;
    margin-top: 20px;
}
#contact-us .well {
    background-color: #fff;
    border: #EBC4A6 solid 1px;
    margin: 0 80px;
    border-radius: 0;
}
#contact-us .well form div.col-xs-12 {
    padding: 10px 30px;
}
#contact-us .well form input, #contact-us .well form textarea {
    background-color: #F7F8F9;
    border-radius: 0;
    font-size: 17px;
    padding: 20px 15px;
}
#contact-us .well form label {
    font-size: 17px;
}

#contact-us .form-container {
    z-index: 1;
}
#contact-us .blue-gradient {
    height: 300px;
    width: 110%;
    margin: 0 -30px;
    background: -webkit-linear-gradient(-90deg, #54E0DE, #3661AF);
    background: -o-linear-gradient(-90deg, #54E0DE, #3661AF);
    background: -moz-linear-gradient(-90deg, #54E0DE, #3661AF);
    background: linear-gradient(-90deg, #54E0DE, #3661AF);
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.map.container-fluid {
    z-index: 1;
    position: relative;
}
.map.container-fluid .well {
    background-color: #fff;
    border: none;
    border-radius: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 25%;
}
.map.container-fluid .well h1 {
    font-family: 'MerriweatherSans-ExtraBold';
}
.map.container-fluid .well hr {
    border: #F37C00 solid 2px;
    margin: 0;
    width: 15%;
    float: left;
}

.map .text-description {
    font-size: 17px;
    color: #777;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
.footer {
    color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 370px;
    background: -webkit-linear-gradient(-90deg, #FA6203, #F8A31B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #FA6203, #F8A31B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #FA6203, #F8A31B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #FA6203, #F8A31B); /* Standard syntax */
}
.footer .text-content {
    margin: 5% -10% 0 10%;
}

.footer .text-header {
    font-size: 20px;
    color: #FFF;
    font-family: 'MerriweatherSans-ExtraBold';
}

.footer .fa {
    background: #fff;
    border-radius: 150px;
    font-size: 3em;
    height: 60px;
    width: 60px;
    color: #f9770b;
    padding: 10px 12px;
}

.footer a {
    color: #fff !important;
    font-size: 18px;
    padding-left: 50px;
    text-decoration: none;
}
.footer a:hover {
    color: #eee !important;
}

.footer p {
    font-size: 14px;
}
.footer .socials ul {
    padding-left: 0;
}

footer.footer ul li {
    list-style: none;
    margin: 20px 0px;
}
.footer .socials {
    margin: 50px 0;
}
.footer .copyright {
    margin: -3% 10%;
}

@media screen and (max-width: 1600px) and (min-width: 992px){
    #home .line {
        bottom: -20%;
        left: -30%;
        transform: rotate(145deg);
    }
}

@media screen and (max-width: 1441px) and (min-width: 769px) {
    #partners .comments .quote {
        top: -100% !important;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) {
    #partners .comments .quote {
        top: -60% !important;
    }
}

@media screen and (max-width: 1280px) and (min-width: 550px) {
    #home .header-content {
        padding: 50px 50px 50px 50px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 963px){
    #products .slick-caption {
        left: 50% !important;
        bottom: 20% !important;
    }
    #products .single-item img {
        top: 45% !important;
    }
    #products .single-item img.landscape-img {
        top: 57% !important;
    }
    .footer {
        height: 385px;
    }
    .footer a {
        padding-left: 15px;
    }
    .footer .fa {
        font-size: 2em;
        height: 40px;
        width: 40px;
        padding: 6px 8px;
    }
    #contact-us .well {
        margin: 0 !important;
    }
    #contact-us .text-content {
        margin: 10% 0 !important;
    }
}

@media screen and (max-width: 1024px) {
    hr.orange-vertical-line {
        display: none;
    }
    #contact-us .text-content {
        margin: 10% 0;
    }
}

@media (max-width: 991px) and (min-width: 769px){
    #home .line {
        bottom: -25%;
        left: -30%;
        width: 160%;
        transform: rotate(145deg);
    }
}

@media (max-width: 768px){
    #home .line {
        display: none;
    }
    #aboutUs .text-content p {
         max-width: 100%;
         padding: 20px;
         position: relative;
         color: #777;
         border-left: #777 solid 3px;
         left: 0;
         top: 0;
    }
    #aboutUs .text-content {
        height: auto;
    }

}
@media (max-width: 549px) {

    #aboutUs .feature h1,
    #home .header-content h1 {
        font-size: 3.5em;
    }

    #aboutUs .logo img {
        width: 100%;
    }

    #aboutUs .text-content p {
        padding: 0;
        border-left: none;
        text-align: center;
    }

    #aboutUs .feature,
    #aboutUs .feature .container,
    #aboutUs .feature-description {
        padding: 0;
    }
    #aboutUs .feature img {
        height: 230px;
    }

    #home .header-content p,
    #aboutUs .feature p, #aboutUs .logo p,
    #partners .text-content .text-description,
    #contact-us .text-content .text-description {
        font-size: 13px;
        text-align: center;
        max-width: 100%;
    }

    #aboutUs .feature h2 {
        font-size: 25px;
        text-align: center;
    }

    #products h1 {
        font-size: 3em;
        padding: 0 0 50px;
    }

    #aboutUs .logo p {
        padding: 20px 0;
    }

    #partners .comments .text-header {
        font-size: 2em;
    }

    #partners .comments .quote {
        font-size: 3em;
        top: -60%;
    }

    #partners .comments .text-description {
        max-width: 100%;
    }

    #partners img {
        width: 100px;
        height: 100px;
    }

    .map.container-fluid {
        padding: 10px 0 0;
    }

    .map.container-fluid .well {
        position: relative;
    }

    #aboutUs .feature .container > div {
        margin-top: 0;
    }
}

@media (max-width: 768px){
    #aboutUs .text-content hr {
        display: none;
    }
}

@media screen and (max-width: 962px) {

    #home .header-content {
        padding: 0;
    }

    #home .header-content button {

    }

    #home .text-content, #products .text-content, #contact-us .text-content,
    .map.container-fluid .text-content {
        margin: 10px 0 !important;
        padding: 10px 0px;
    }
    #products {
        margin: 50px 20px;
    }
    #products .single-item .slick-caption {
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }
    #products .single-item .item {
        display: block;
    }
    #partners {
        height: 850px;
    }
    #partners .personal-information .info {
        text-align: center;
    }
    #contact-us .form-container {
        padding: 0;
    }
    #products .slick-caption p {
        font-size: 17px;
    }
    #products .slick-slide img {
        margin: auto;
        margin-bottom: 50px;
    }
    #contact-us {
        min-height: 900px;
        height: auto;
        padding: 50px 0;
    }
    #contact-us .well form div.col-xs-12 {
        padding: 5px 10px;
    }
    #contact-us .well form input, #contact-us .well form textarea {
        padding: 15px 12px;
    }
    #contact-us .well {
        margin: 0;
    }
    #contact-us .blue-gradient {
        height: 190px;
    }
    .footer a {
        font-size: 16px;
        padding-left: 20px;
    }
    .footer .copyright {
        margin: -5% 3%;
    }
    body {
        margin-bottom: 450px;
    }
    .footer {
        height: 450px;
    }
    .footer .socials {
        margin: 20px 0;
    }
    .footer .fa {
        font-size: 2em;
        height: 45px;
        width: 45px;
    }
    .footer .text-content {
        margin: 5% 0 0 5%;
    }
}
