
@font-face {
    font-family: 'Lato-Black';
    src: url('fonts/Lato-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('fonts/Lato-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('fonts/Lato-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Heavy';
    src: url('fonts/Lato-Heavy.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-HeavyItalic';
    src: url('fonts/Lato-HeavyItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Italic';
    src: url('fonts/Lato-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-LightItalic';
    src: url('fonts/Lato-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Medium';
    src: url('fonts/Lato-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-MediumItalic';
    src: url('fonts/Lato-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Semibold';
    src: url('fonts/Lato-Semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-SemiboldItalic';
    src: url('fonts/Lato-SemiboldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-Thin';
    src: url('fonts/Lato-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato-ThinItalic';
    src: url('fonts/Lato-ThinItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'MerriweatherSans-Bold';
    src: url('fonts/MerriweatherSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'MerriweatherSans-BoldItalic';
    src: url('fonts/MerriweatherSans-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'MerriweatherSans-ExtraBold';
    src: url('fonts/MerriweatherSans-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'MerriweatherSans-Regular';
    src: url('fonts/MerriweatherSans-Regular.ttf') format('truetype');
}

body {
    font-family: 'Lato-Regular';
    letter-spacing: 1.5px;
    background-color: #fff;
    overflow-x: hidden;
    margin-bottom: 360px;
}
body div.section-parent {
    overflow-x: hidden;
}

.navbar-brand .brand-img{
	width: 40px;
    height: auto;
    margin: -10px 0;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    font-size: 1vw;
}

p {
    letter-spacing: 2px;
}
.text-primary {
    color: #F3801E !important;
}
.btn {
    letter-spacing: 3px;
    font-size: 1.1vw;
}
.btn-flat {
    border-radius: 2px !important;
}

.btn-blue {
    background-color: #4F9CD9;
    border-color: #4F9CD9;
    color: #fff;
    padding: 10px 25px;
}
.btn-blue:hover {
    background-color: #54ABE0;
    border-color: #2CA3DD;
    color: #fff;
}
.btn-primary {
    background-color: transparent !important;
    border-color: #F3801E !important;
    color: #F3801E !important;
}

.navbar .btn {
    padding: 10px 14px !important;
    margin: 3px !important;
}

.shape1 {
    position: fixed;
    left: 5%;
    z-index: 0;
    -webkit-animation:spin 12s linear infinite, floatBubble1 7s infinite  normal ease-out;
    -moz-animation:spin 12s linear infinite, floatBubble1 7s infinite  normal ease-out;
    animation:spin 12s linear infinite, floatBubble1 7s infinite  normal ease-out;
    -webkit-animation-direction:alternate;
}
.shape2 {
    position: fixed;
    left: 20%;
    z-index: 0;
    -webkit-animation:reverseSpin 12s linear infinite, floatBubble3 7s infinite  normal ease-out;
    -moz-animation:reverseSpin 12s linear infinite, floatBubble3 7s infinite  normal ease-out;
    animation:reverseSpin 12s linear infinite, floatBubble3 7s infinite  normal ease-out;
    -webkit-animation-direction:alternate;
}
.shape3 {
    position: fixed;
    left: 45%;
    z-index: 0;
    -webkit-animation:reverseSpin 12s linear infinite, floatBubble2 7s infinite  normal ease-out;
    -moz-animation:reverseSpin 12s linear infinite, floatBubble2 7s infinite  normal ease-out;
    animation:reverseSpin 12s linear infinite, floatBubble2 7s infinite  normal ease-out;
    -webkit-animation-direction:alternate;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes reverseSpin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes reverseSpin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes reverseSpin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@-webkit-keyframes floatBubble1{
 from{
    top:150px;
    -webkit-animation-timing-function: ease-in;
   }
   to {
      top: 250px;
      -webkit-animation-timing-function: ease-out;
   }
}

@-webkit-keyframes floatBubble2{
 from{
     top:250px;
     -webkit-animation-timing-function: ease-in;
    }
    to {
       top: 350px;
       -webkit-animation-timing-function: ease-out;
    }
}
@-webkit-keyframes floatBubble3{
 from{
     top:550px;
     -webkit-animation-timing-function: ease-in;
    }
    to {
       top: 650px;
       -webkit-animation-timing-function: ease-out;
    }
}

.gm-style-mtc {
  display: none !important;
}
/* section home styles
-------------------------------------------------- */
#home {
    padding-top: 100px;
    position: relative;
    min-height: 100vh;
    z-index: 1;
}
#home .sub-header {
    color: #333333;
    font-family: 'Lato-Bold';
    font-size: 1.3vw;
    margin-bottom: -10px;
}
#home p {
    font-size: 1vw;
}
#home .text-content {
    padding: 5% 0 0 8%;
}
#home .text-header {
    color: #F5822A;
    font-family: 'Lato-Heavy';
    font-size: 3.5vw;
}
#home .line {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -20%;
    height: 340px;
    width: 160%;
    transform: rotate(150deg);
    background: -webkit-linear-gradient(-90deg, #F58D2B, #FA6203); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #F58D2B, #FA6203); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #F58D2B, #FA6203); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #F58D2B, #FA6203); /* Standard syntax */
}
#home img {
    padding-top: 50px;
}

/* section about styles
-------------------------------------------------- */
#about {
    padding-top: 100px;
    position: relative;
    min-height: 100vh;
    z-index: 1;
}
#about .text-content {
    margin: 0 -10% 0 10%;
    min-height: 42vh;
}
#about hr {
    border: #F37C00 solid 2px;
    position: absolute;
    width: 80%;
    bottom: 0;
}
#about .text-content p {
    font-size: 1.1vw;
    max-width: 53vh;
    padding: 10px;
    color: #fff;
    border-left: #fff solid 3px;
}
#about .logo p {
    color: #777;
    font-size: 1vw;
    padding: 20px;
}
#about .logo img {
    display: block;
    margin: auto;
    width: 55%;
}
#about .feature {
    padding-top: 50px;
}
#about .feature img {
    display: block;
    margin: auto;
    width: auto;
    height: 200px;
}

#about .feature p {
    color: #777;
    font-size: 0.9vw;
}

#about .feature p.text-primary {
    font-size: 1.2vw;
    font-family: 'MerriweatherSans-ExtraBold';
    text-align: center;
    padding-top: 15px;
}

/* section products styles
-------------------------------------------------- */
#products {
    min-height: 95vh;
    z-index: 1;
}
#products .single-item {
    position: relative;
}
#products .single-item .slick-caption {
    position: absolute;
    font-size: 1.1vw;
    width: 40%;
    left: 40% ;
    bottom: 40% ;
    color: #6C6D6F;
    text-shadow: none;
    text-align: left !important;
}
#products .slick-caption p {
    color: #F3801E;
    font-size: 1.5vw;
    font-family: 'MerriweatherSans-Bold';
    width: 80px;
    border-bottom: #F3801E solid 3px;
}
#products .slick-caption span {
    color: #49D2EC;
    font-family: 'MerriweatherSans-ExtraBold';
}
#products .single-item img {
    position: absolute !important;
    top: 25%;
    left: 15% !important;
}
#products .single-item img.landscape-img {
    width: 250px;
    top: 35%;
}
#products .single-item .item {
    position: relative;
    min-height: 80vh;
}

#products .single-item .slick-caption a {
    margin-top: 30px;
}

#products .carousel-indicators .active {
    background-color: #F3822B;
}
#products .carousel-indicators li {
    background-color: #777;
}

/* section partners styles
-------------------------------------------------- */
#partners {
    background-color: #F7F8F9;
    min-height: 80vh;
    margin: -15px;
    z-index: 0;
}

#partners .text-content {
    margin: 10% -10% 0 10%;
}

#partners .text-content .text-header {
    font-size: 2vw;
    color: #F3801E;
    font-family: 'MerriweatherSans-ExtraBold';
}
#partners .text-content hr {
    border: #F37C00 solid 2px;
    margin: 0;
    width: 13%;
    float: left;
}

#partners .text-content .text-description {
    max-width: 75%;
    font-size: 1vw;
}

#partners .comments {
    margin-top: 10%;
    padding: 0 5% 0 10%;
}
#partners .comments .quote {
    font-size: 4vw;
    color: #F6C4A9;
    font-family: 'MerriweatherSans-ExtraBold';
    position: absolute;
    top: -155%;
    left: -10%;
}
#partners .comments .text-header {
    color: #717273;
    font-size: 1.8vw;
    position: relative;
    font-family: 'Lato-Bold';
}

#partners .comments .text-description {
    font-size: 1vw;
}

#partners .personal-information .info {
    padding-top: 50px;
}
#partners .personal-information {
    margin-top: 50px;
}

#partners .personal-information .name {
    color: #7A7B7C;
    font-size: 1vw;
}
#partners img {
    display: block;
    margin: auto;
}

#partners .personal-information .company {
    color: #F3832E;
    font-size: 1vw;
}

/* section contact-us styles
-------------------------------------------------- */
#contact-us {
    position: relative;
    min-height: 100vh;
    z-index: 0;
}

#contact-us .text-content {
    margin: 10% -10% 0 10%;
}

#contact-us .text-content .text-header {
    font-size: 2vw;
    color: #F3801E;
    font-family: 'MerriweatherSans-ExtraBold';
}
#contact-us .text-content hr {
    border: #F37C00 solid 2px;
    margin: 0;
    width: 13%;
    float: left;
}

#contact-us .text-content .text-description {
    max-width: 75%;
    font-size: 1vw;
}
#contact-us .well {
    background-color: #fff;
    border: #EBC4A6 solid 1px;
    margin: 0 80px;
    border-radius: 0;
}
#contact-us .well form div.col-xs-12 {
    padding: 10px 30px;
}
#contact-us .well form input, #contact-us .well form textarea {
    background-color: #F7F8F9;
    border-radius: 0;
    font-size: 1vw;
    padding: 20px 15px;
}
#contact-us .well form label {
    font-size: 1vw;
}

#contact-us .form-container {
    padding-top: 5%;
    z-index: 1;
}
#contact-us .blue-gradient {
    height: 240px;
    width: 102%;
    margin: 0 -30px;
    background: -webkit-linear-gradient(-90deg, #54BEE1, #335CAB);
    background: -o-linear-gradient(-90deg, #54BEE1, #335CAB);
    background: -moz-linear-gradient(-90deg, #54BEE1, #335CAB);
    background: linear-gradient(-90deg, #54BEE1, #335CAB);
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.map.container-fluid {
    z-index: 1;
    margin: -10px;
    position: relative;
}
.map.container-fluid .well {
    background-color: #fff;
    border: none;
    border-radius: 0;
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 23%;
}
.map.container-fluid .well .text-header {
    font-size: 2vw;
    color: #F3801E;
    font-family: 'MerriweatherSans-ExtraBold';
}
.map.container-fluid .well hr {
    border: #F37C00 solid 2px;
    margin: 0;
    width: 15%;
    float: left;
}

.map .text-description {
    font-size: 1vw;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
.footer {
    color: #fff;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 370px;
    background: -webkit-linear-gradient(-90deg, #FA6203, #F8A31B); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #FA6203, #F8A31B); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #FA6203, #F8A31B); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #FA6203, #F8A31B); /* Standard syntax */
}
.footer .text-content {
    margin: 5% -10% 0 10%;
}

.footer .text-header {
    font-size: 2vw;
    color: #FFF;
    font-family: 'MerriweatherSans-ExtraBold';
}

.footer .fa {
    background: #fff;
    border-radius: 150px;
    font-size: 3em;
    height: 60px;
    width: 60px;
    color: #f9770b;
    padding: 10px 12px;
}

.footer a {
    color: #fff !important;
    font-size: 1.2vw;
    padding-left: 50px;
    text-decoration: none;
}
.footer a:hover {
    color: #eee !important;
}

.footer p {
    font-size: 0.9vw;
}

footer.footer ul li {
    list-style: none;
    margin: 20px 0px;
}
.footer .socials {
    margin: 50px 0;
}
.footer .copyright {
    margin: -3% 10%;
}

@media screen and (max-width: 2560px) and (min-width: 1681px){
    #home .line {
        left: -30%;
        height: 700px;
    }
    #about .text-content {
        min-height: 29vh;
    }
    .container {
        width: 2300px;
    }
    #products .single-item img.landscape-img {
        width: 550px;
        top: 42%;
    }
    #products .single-item img {
        top: 45%;
        width: 300px;
        left: 20%;
    }
    #partners {
        min-height: 50vh;
    }
    #contact-us .well {
        margin: 0 180px;
    }
    #contact-us {
        min-height: 60vh;
    }
    .footer .text-content {
        margin: 2% -10% 0 10%;
    }
    .footer .copyright {
        margin: -1.6% 10%;
    }
    #about .text-content p {
        max-width: 43vh;
    }
}
@media screen and (max-width: 1680px) and (min-width: 1550px){
    #home .line {
        left: -25%;
    }
    #about .text-content p {
        max-width: 40vh;
    }
    #about .text-content {
        min-height: 37vh;
    }
    #partners {
        min-height: 65vh;
    }
    #contact-us {
        min-height: 90vh;
    }
}

@media screen and (max-width: 1280px) and (min-width: 1025px){
    #home .line {
        bottom: -15%;
        left: -30%;
        height: 400px;
        transform: rotate(145deg);
    }
    #partners .comments .quote {
        top: -90%;
    }
    #about .text-content {
        min-height: 260px;
    }
    #partners .personal-information .name, #partners .personal-information .company {
        font-size: 1.2vw;
    }
    #contact-us .well form div.col-xs-12 {
        padding: 10px 20px;
    }
    #contact-us {
        min-height: 110vh;
    }
    #products .single-item img {
        top: 20% !important;
    }
    #products .single-item img.landscape-img {
        top: 35%;
    }
    #partners {
        min-height: 70vh;
    }
}

@media screen and (max-width: 1024px) and (min-width: 963px){
    #home .line {
        height: 260px;
        width: 180%;
        bottom: -5%;
    }
    #home {
        min-height: 90vh;
    }
    #about .text-content {
        min-height: 220px;
    }
    #about .feature img {
        height: 150px;
    }
    #products .slick-caption {
        left: 50% !important;
        bottom: 20% !important;
    }
    #products .single-item img {
        top: 45% !important;
    }
    #products .single-item img.landscape-img {
        top: 57% !important;
    }
    #partners .personal-information .info {
        padding-top: 25px;
    }
    #partners {
        min-height: 80vh;
    }
    #partners img {
        height: 100px;
        width: 100px;
    }
    #contact-us .well {
         margin: 0;
    }
    #contact-us {
        min-height: 150vh;
    }
    .footer a {
        padding-left: 15px;
    }
    .footer .fa {
        font-size: 2em;
        height: 40px;
        width: 40px;
        padding: 6px 8px;
    }
}
@media screen and (max-width: 962px) and (min-width: 400px){
    #home .line {
        height: 270px;
        width: 200%;
        left: -45%;
        bottom: -9%;
        transform: rotate(140deg);
    }
    #home .sub-header {
         margin-bottom: 0px;
    }
    #home .text-header {
        font-size: 3vw;
    }
    #home p {
        font-size: 1.3vw;
        max-width: 300px;
    }
    #about .text-content {
        min-height: 240px;
    }
    #about .text-content p {
        font-size: 1.2vw;
        max-width: 50vh;
    }
    #about .logo p {
        font-size: 1.2vw;
    }
    #about .feature p.text-primary {
        font-size: 2.5vw;
    }
    #about .feature p {
        font-size: 1.6vw;
        padding: 0 60px;
        text-align: center;
    }
    #home .text-content, #products .text-content, #contact-us .text-content,
    #partners .text-content, .map.container-fluid .text-content, .footer .text-content {
        margin: 5% -5% 0 5% !important;
        padding: 5% 0 0 0%;
    }

    #about .text-content {
        margin: 0 -10% 0 5% !important;
        padding: 5% 0 0 0%;
    }
    #products .single-item img.landscape-img {
        top: 34% !important;
        width: 200px;
        left: 10% !important;
    }
    #products {
        min-height: 100vh;
        margin-top: 50px;
    }
    #products .single-item img {
        width: 120px;
        top: 23%;
    }
    #partners {
        min-height: 110vh;
    }
    #partners .text-content .text-description,#partners .comments .text-description,
    #partners .personal-information .name, #partners .personal-information .company,
    #contact-us .text-content .text-description, .map .text-description, .footer p, #products .slick-caption {
        font-size: 1.3vw;
    }
    #products .slick-caption p {
        font-size: 2.5vw;
    }
    #contact-us .well form div.col-xs-12 {
        padding: 5px 10px;
    }
    #contact-us .well form input, #contact-us .well form textarea {
        padding: 15px 12px;
    }
    #contact-us .well {
        margin: 0 15px;
    }
    .footer a {
        font-size: 1.8vw;
        padding-left: 20px;
    }
    .footer .copyright {
        margin: -5% 3%;
    }
    #partners .comments .quote {
        font-size: 6vw;
    }

}

@media screen and (max-width: 399px){
    .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
        font-size: 3.6vw;
    }
    #home {
        min-height: 90vh;
    }
    #home .sub-header {
        font-size: 3.5vw;
        margin-bottom: 0;
    }
    #home .text-header {
        font-size: 6vw;
    }
    #home p {
        font-size: 3vw;
    }
    .btn {
        letter-spacing: 3px;
        font-size: 3vw;
    }
    #home .line {
        display: none;
    }
    #about .text-content {
        margin: 0;
        min-height: 0;
    }
    #about .text-content p {
        font-size: 3vw;
        padding: 0;
        color: #555;
        border-left: none;
    }
    #about hr {
        border: #F37C00 solid 1px;
         position: relative;
         width: 100%;
    }
    #about .logo img {
        width: 65%;
    }
    #about .logo p {
        font-size: 3vw;
        padding: 20px 0;
    }
    #about .feature img {
        height: 130px;
    }
    #about .feature p.text-primary {
        font-size: 3.2vw;
    }
    #about .feature p {
        font-size: 3vw;
    }
    #products .single-item img.landscape-img {
        width: 200px;
        top: 30%;
        left: 20% !important;
    }
    #products .slick-caption p {
        font-size: 5vw;
        width: 45px;
    }
    #products .single-item img {
        top: 15%;
        left: 30% !important;
        width: 100px;
    }
    #products .single-item .slick-caption a {
        margin-top: 15px;
    }
    #products .single-item .slick-caption {
        font-size: 3vw;
        width: 100%;
        left: 0;
        bottom: 20% !important;
        color: #6C6D6F;
        text-shadow: none;
        text-align: left !important;
    }
    #partners .text-content .text-header {
        font-size: 4vw;
    }
    #partners .text-content .text-description {
        max-width: 85%;
        font-size: 3vw;
    }
    #partners .text-content .text-header {
        font-size: 4vw;
    }
    #partners .text-content .text-description {
        max-width: 85%;
        font-size: 3vw;
    }
    #partners .comments .text-header {
        font-size: 3vw;
    }
    #partners .comments .quote {
        font-size: 10vw;
    }
    #partners .comments .text-description {
        font-size: 3vw;
    }
    #partners .personal-information {
        margin-top: 30px;
    }
    #partners img.img-circle {
        width: 80px;
        height: 80px;
    }
    #partners .personal-information .info {
        padding-top: 25px;
    }
    #partners .personal-information .name, #partners .personal-information .company {
        font-size: 3vw;
    }
    #contact-us .text-content {
        margin: 10% 0 0 0%;
    }
    #contact-us .text-content .text-header {
        font-size: 4vw;
    }
    #contact-us .text-content .text-description {
        max-width: 95%;
        font-size: 3vw;
    }
    #contact-us .well form input, #contact-us .well form textarea {
        font-size: 3vw;
        padding: 14px 10px;
    }
    #contact-us .well form label {
        font-size: 3vw;
    }
    #contact-us .form-container {
        padding-top: 5%;
        z-index: 1;
        margin: 0 -30px;
        width: 120%;
    }
    #contact-us .well {
        margin: 0;
        padding: 0;
    }
    #contact-us .well form div.col-xs-12 {
        padding: 5px 25px;
    }
    #contact-us .blue-gradient {
        height: 240px;
        width: 110%;
    }
    #contact-us {
        position: relative;
        min-height: 800px;
    }
    .map .text-description {
        font-size: 3vw;
    }
    .map.container-fluid .well .text-header {
        font-size: 5vw;
    }
    .map.container-fluid .well {
        bottom: 0;
        top: inherit;
    }
    #map {
        height: 400px;
        width: 105%;
        margin-left: -2%;
    }
    .map.container-fluid {
        margin: 0 -23px;
    }
    .footer .text-content {
        margin: 5% 0% 0 0%;
    }
    .footer .copyright {
        margin: 0;
    }
    .footer .fa {
        font-size: 1.2em;
        height: 30px;
        width: 30px;
        padding: 7px 8px;
    }
    .footer .socials {
        margin: 0;
    }
    .footer .text-header {
        font-size: 6vw;
    }
    .footer p {
        font-size: 3.4vw;
    }
    .footer a {
        font-size: 3.2vw;
        padding-left: 10px;
    }
}
